################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BattleTank 4.22/Config/DefaultEditorPerProjectUserSettings.ini
